<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dtID" value="0"/>
		<add key="dtName" value="DEMO_iPOS_4-0-0-3-2"/>
		<add key="appfolder" value="iPosv4Automation"/>
		<add key="uploadfolder" value="upload"/>
		<add key="sharingfolder" value="sharing"/>
		<add key="enableconsolelog" value="Y"/>
		<add key="screenshotfolder" value ="log"/>
		<add key="loginId" value="admin"/>
		<add key="password" value="admin"/>
		<add key="erpappnamepath" value="C:\Users\iputeh\Desktop\iPos 4.0 Program Toko.lnk"/>
		<add key="DBaddresspath" value="127.0.0.0"/>
		<add key="uploadtosandbox" value="Y"/>
		<add key="isrunbywindowsscheduler" value="Y"/>
	</appSettings>
</configuration>